<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      
      <nav>
        <a href="/" class="btn-no-style">Home</a>
        {{#if loggedIn}}
        <a href="/dashboard" class="btn-no-style">Dashboard</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login" class="btn-no-style">Login</a>
        {{/if}}
        <div>
          <a href="/"><h1>
        The Tech Blog
      </h1></a>
        </div>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>